# Dependencies (Wajib di-ignore karena berat)
node_modules/

# Build Output (Hasil compile, tidak perlu di-upload)
dist/

# Astro Generated Types (Folder sistem Astro)
.astro/

# Environment Variables (PENTING: Biar rahasia aman)
.env
.env.*

# Logs (File error log)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS System Files (File sampah Mac)
.DS_Store